{% extends 'base.html' %}

{% block content %}
<div class="container">
        <div class="row" style="margin-bottom: 5%;">
            <div class="col-sm-4">
                    <img src="{{ product.image.url }}" alt="" style="width: 100%">
            </div>
            <div class="col-sm-8">
                <h1>{{ product.title }}</h1>
                <p>{{ product.description | safe }}</p>
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                        {% csrf_token %}
                        {{ cart_product_form }}
                        <input type="submit" value="add to cart" class="btn btn-outline-danger">
                    </form>
                <button type="button" value="Previous Page" class="btn btn-outline-warning" onClick="window.history.back();return false;">
                    Назад
                </button>
            </div>
        </div>
        
    <div class="btn-group" role="group" aria-label="...">
        {% for category in category_list %}
            <a class="btn btn-outline-secondary" href="{{ category.get_absolute_url }}" role="button" style="margin-left: 10px;">
                {{ category.name }}
            </a>
        {% endfor %}
    </div>
</div>
    
{% endblock %}
